body {
	background-color: grey;
	 background-image: url("../img/moneypic7.jpg");
	 background-size: cover;
}
h1 {
	color: black;
}
h2{
	color: black;
}
p{
	color: black;
}
.promotion{
	color: black;
}
